page-pick-story {
	#button-wrapper {
		margin-top:4em;
	}

	img {
		border: 1.5vw solid color($colors, primary, base);
		height:90%;
	}

	ion-row {
		height:18em;
		padding-top:15px;
	}
	h4 {
		margin:0px;
		text-align:center;
	}
}
